{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Escola - {% endblock%}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'partials/_header.html' %}
    
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                
                <div class="alert {{ message.tags }}" role="alert">
                    {{ message.message }}
                </div>                
            {% endfor %}
        </div>
    {% endif %}    
    {% block content %}

    {% endblock %}
</body>
</html>